<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>좋아하는 관광지를 선택하시오 (다중 가능)</h1>
	<hr>
	<form action="/web1/check" method="get">
		<input type="checkbox" name="place" value="제주도" >제주도
		<input type="checkbox" name="place" value="경복궁" >경복궁
		<input type="checkbox" name="place" value="설악산" >설악산
		<br>
		<input type="checkbox" name="place" value="월미도" >월미도
		<input type="checkbox" name="place" value="부산" >부산
		<input type="checkbox" name="place" value="포항" >포항
		<br>
		<input type="submit" value="전송">
		<input type="reset" value="취소">
		힌트! checkbox 값은 name이 같기 때문에.. 배열로 넘겨줌
	</form> 
</body>
</html>